# Dependencies
node_modules

# Next.js
.next
out
build
*.tsbuildinfo

# Environment
.env.local
.env.*.local
*_API_KEY.txt
*_TOKEN.txt

# IDE
.vscode
.idea
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Firebase
.firebase
.firebaserc
functions/lib

# Logs
*.log
npm-debug.log*
